[Unit]
Description=1Password Browser-Support
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/op-browser-support
RemainAfterExit=true

[Install]
WantedBy=default.target
