[Unit]
Description=1Password
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
Environment=DISPLAY=:0
ExecStart=/usr/bin/1password --silent

[Install]
WantedBy=default.target
