[Unit]
After=network.target
Description=1Password Service

[Service]
User=root
Restart=always
ExecStart=/opt/1Password/1password --silent
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
