name: Vib Build

on:
  push:
    tags:
      - "*"
    branches:
      - "main"

  pull_request:
  workflow_dispatch:

env:
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1

jobs:
  verify-image:
    runs-on: ubuntu-latest

    steps:
      - name: Verify Base Image Integrity
        if: ${{ github.ref_type == 'tag' }}
        run: gh attestation verify oci://ghcr.io/vanilla-os/desktop:main --owner Vanilla-OS
        env:
          GH_TOKEN: ${{ github.token }}

  build:
    needs: verify-image
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write
      packages: write
      attestations: write

    steps:
      - uses: actions/checkout@v5

      - name: Change Tag in Recipe
        if: ${{ github.ref_type == 'tag' }}
        run: |
          sed 's/ghcr.io\/vanilla-os\/desktop:dev/ghcr.io\/vanilla-os\/desktop:main/' -i recipe.yml

      - uses: vanilla-os/vib-gh-action@v1.0.6
        with:
          recipe: "recipe.yml"
          plugins: "Vanilla-OS/vib-fsguard:v1.6.1"

      - uses: actions/upload-artifact@v4
        with:
          name: Containerfile
          path: Containerfile

      - name: Generate Image N
        run: |
          REPO_OWNER_LOWERCASE="$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')"
          echo "REPO_OWNER_LOWERCASE=$REPO_OWNER_LOWERCASE" >> "$GITHUB_ENV"
          echo "IMAGE_URL=ghcr.io/$REPO_OWNER_LOWERCASE/vanilla" >> "$GITHUB_ENV"

      - name: Extra Image Tag Branch
        if: ${{ github.ref_type != 'tag' }}
        run: |
          echo "EXTRA_TAG=ref,event=branch" >> "$GITHUB_ENV"

      - name: Extra Image Tag Release
        if: ${{ github.ref_type == 'tag' }}
        run: |
          echo "EXTRA_TAG=raw,main" >> "$GITHUB_ENV"

      - name: Docker Meta
        uses: docker/metadata-action@v5

        id: docker_meta

        with:
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{raw}}
            type=semver,pattern=v{{major}}
            type=${{ env.EXTRA_TAG }}
          images: |
            ${{ env. IMAGE_URL }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Package Registry
        uses: docker/login-action@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push the Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Containerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
          provenance: false

      - name: Attest Pushed Image
        uses: actions/attest-build-provenance@v1
        id: attest
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-name: ${{ env.IMAGE_URL }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: false
